/*Général*/
@font-face {
  font-family: "stronger";
  src: url("../fonts/stronger/Stronger.otf") format("opentype"),
         url("../fonts/stronger/Stronger.ttf") format("truetype");
 }

body {
  background-color: #01093d;
  color: white;
}

body h2 {
  color: white;
  font-family: 'stronger';
  font-size: 4em;
  margin-top: 30px;
}

body h5 {
  font-weight: bold;
}

/*Navigation*/
nav {
  background-color: #01093d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

nav .btn {
  color: #dbc469;
  border-color: #dbc469;
}

/*Accueil*/
#accueil {
  height: 900px;
  background: url(../img/fond-cine.svg) no-repeat center;
  color: #25e0d0;
  margin-top: 80px;
}

#accueil h1 {
  font-family: 'stronger', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 10em;
}


#accueil h3 {
  font-family: 'stronger', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 8em;
  color: #ac18e1;
}

.info-titre p {
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 5em;
  border-radius: 30px;
  text-shadow: 5px 5px 5px #ac18e1;
}

#accueil .btn-info {
  background-color: #ac18e1;
  border-color: #ac18e1;
}

@media all and (max-width: 1350px) {
  #accueil h1 {
    font-size: 5em;
  }
  #accueil h3 {
    font-size: 4em;
  }
  .info-titre p {
    font-size: 3em;
  }
}


/*actu*/
#actu {
  background-color: white;
  color: #2b3b51;
}

#actu h2 {
  color: #2b3b51;
}

.modal-content {
  background-color: #25e0d0;
  color: white;
}

#actu .btn {
  background-color: #25e0d0;
  border-color: #25e0d0;
}

/*films*/
.affiche {
  text-align: center;
}

.affiche img {
  box-shadow: 0px 0px 20px #dbc469;
}

#programmation h3 {
  text-align: center;
}

.titre {
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 3px solid white;
}

.description h4 {
  font-weight: bold;
}

.description h5 {
  font-style: italic;
}

.jour {
  margin-bottom: 50px;
}

#resa .modal-content {
  background-color: #5658f9;
}

/*footer*/
footer {
  background-color: white;
  color: #2b3b51;
}

footer h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'stronger', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3em;
}

footer .fab {
  color: #2b3b51 !important;
  margin: 30px 15px 0px 15px;
}